[submodule "baselines/mammoth"]
	path = baselines/mammoth
	url = https://github.com/hastings24/mammoth.git
[submodule "baselines/superposition"]
	path = baselines/superposition
	url = https://github.com/briancheung/superposition.git
[submodule "baselines/supsup"]
	path = baselines/supsup
	url = https://github.com/RAIVNLab/supsup.git
